header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(46, 152, 240);
    height: 40px;
    margin-top: 0%;
   position: fixed;
    width: 100%;
    ul{
        display: flex;
        list-style-type:none;
        li{
            margin-right: 16px;
        }
       // justify-content: center;
    }
   
}