main{
    display: flex;
}
#other{
    width:25%;
    margin-top:80px;
}
#feed-posts
{
    width:40%;
    margin-top:80px;
}
#user
{
    width:25%;
    margin-top:80px;
    padding :10px;
    border-left: .8px solid gray;
    margin-left: 10px;
    
}
.posts-list-containers{
    border: 0.7px solid gray;
    margin: 4px;
    padding:4px;
    
    //overflow: scroll;
    overflow-wrap: break-word;;
}
#comment-container{
    margin-top: 4px;
}
#comment-content{
//margin-top: -8px;
}
small{
    
    font-size: .7rem;
}
#new-post-form{
    margin: 0px;
}