main{
    display: flex;

}
#other{
    width:25%
}
#feed-posts
{
    width:40%;
}
#user
{
    width:25%;
    padding :10px;
    border-left: .8px solid gray;
    margin-left: 10px;
    
}
.posts-list-container1{
    border: 0.7px solid gray;
    margin: 4px;
    padding:4px
}
#comment-container{
    margin-top: 4px;
}
#comment-content{
//margin-top: -8px;
}
small{
    
    font-size: .7rem;
}
#new-post-form{
    margin: 0px;
}